---
layout: default
---


<style>
    #calendar {
        display: none;
    }
    #closeBtn, #openBtn {
        display: none;
    }
</style>

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>

      <div clsss="meta">
        <span class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </span>

        <ul class="tag">
          {% for cate in post.categories %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/category#{{ cate }}">
              {{ cate }}
            </a>
          </li>
          {% endfor %}
          {% for tag in post.tags %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>

        <!-- 显示每篇博客阅读量, id 将作为查询条件 -->
        <span id={{post.url}} class="leancloud-visitors" data-flag-title={{post.title}}>
            <span class="post-meta-divider">|</span>
            <span class="post-meta-item-text">阅读量 </span>
            <span class="leancloud-visitors-count">-</span>
        </span>    
      </div>

      <div class="entry">
        <!--{{ post.excerpt | truncate: 200 }}-->
        {{ post.content | strip_html | truncate:160 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        ← 上一页
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        下一页 →
      </a>
    </span>
  {% endif %}
</div>

{% if site.leanCloud.enable %}
{% include readerStatistics.html %}
<script>
    $(function() {
      var Counter = AV.Object.extend(name);
      showAllCount(Counter);
    });
</script>
{% endif %}
