<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script src="{{ site.baseurl }}/styles/js/md5.min.js"></script>

<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
    // gitalk的主要参数
      clientID: `afddab7de04debfd2344`,   //上面获取到的值
      clientSecret: `16c8ea5f0d23af66ed7e9a05a65545b3f4d2007c`,//上面获取到的值
      repo: `SnownightBlogComment`,  //您刚才建立仓库的名字
      owner: 'Snownight22',   //你的GitHub用户名字
      admin: ['Snownight22'],  //你的GitHub用户的名字
      //id: decodeURI(location.pathname), //id不能重复，如果重复就会把其他页面的评论引进来
	  id: md5(location.href),
        });
      gitalk.render('gitalk-container');
</script> 